Questions 1:

Given the following jumbled word, OBANWRI guess the correct English word.

A. RANIBOW
B. RAINBOW
C. BOWRANI
D. ROBWANI

Ans:- B.RAINBOW

Questions 2:

Write a program which prints “LETS UPGRADE”. (Please note that you have to
print in ALL CAPS as given)

In [1]:
print("LETS UPGRADE")

LETS UPGRADE

Questions 3:

Write a program that takes cost price and selling price as input and displays whether the transaction is a
Profit or a Loss or Neither.
INPUT FORMAT
The first line contains the cost price.
The second line contains the selling price.
OUTPUT FORMAT
Print "Profit" if the transaction is a profit or "Loss" if it is a loss. If it is neither
profit nor loss, print "Neither". (You must not have quotes in your output)

In [2]:
cp = input("Cost Price=")
sp = input("Selling Price=")
if sp>cp:
    print("Profit")
elif sp<cp:
    print("Loss")
else:
    print("Neither")

Cost Price=20
Selling Price=30
Profit

In [8]:
cp = input("Cost Price=")
sp = input("Selling Price=")
if sp>cp:
    print("Profit")
elif sp<cp:
    print("Loss")
else:
    print("Neither")

Cost Price=50
Selling Price=30
Loss

In [9]:
cp = input("Cost Price=")
sp = input("Selling Price=")
if sp>cp:
    print("Profit")
elif sp<cp:
    print("Loss")
else:
    print("Neither")

Cost Price=20
Selling Price=20
Neither

Questions 4:

Write a program that takes an amount in Euros as input. You need to find its equivalent in
Rupees and display it. Assume 1 Euro equals Rs. 80.
Please note that you are expected to stick to the given input and output
format as in sample test cases. Please don't add any extra lines such as
'Enter a number', etc.
Your program should take only one number as input and display the output.

In [15]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=20
Amount in Rupees= 1600

In [16]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=50
Amount in Rupees= 4000

In [17]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=72
Amount in Rupees= 5760

In [18]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=7
Amount in Rupees= 560

In [19]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=35
Amount in Rupees= 2800

In [20]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=23
Amount in Rupees= 1840

In [21]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=95
Amount in Rupees= 7600

In [22]:
n = int(input("Amount in Euro="))
R = n*80
print("Amount in Rupees=",R)

Amount in Euro=18
Amount in Rupees= 1440

********************************************End of the Assignment**************************************************************